# Title: lapply()
#### * Used in list
#### * Example: Grouped calculations, Age mean Gender wise
#### * Input : list
#### * Output : list
***

In [31]:
x<- list(array(data = 1:9, dim = c(3,3)),c(1,2,3),7)
x

[[1]]
     [,1] [,2] [,3]
[1,]    1    4    7
[2,]    2    5    8
[3,]    3    6    9

[[2]]
[1] 1 2 3

[[3]]
[1] 7

In [32]:
lapply(X = x,FUN = sum)

[[1]]
[1] 45

[[2]]
[1] 6

[[3]]
[1] 7

### Own function(naming function)

In [33]:
# creating a function
multilply_ten <- function(x){return(x*10)}

In [34]:
lapply(X = x,FUN = multilply_ten)

[[1]]
     [,1] [,2] [,3]
[1,]   10   40   70
[2,]   20   50   80
[3,]   30   60   90

[[2]]
[1] 10 20 30

[[3]]
[1] 70

### Own function (anonymous or no name function)

In [35]:
lapply(X = x,FUN = function(x) x*10)

[[1]]
     [,1] [,2] [,3]
[1,]   10   40   70
[2,]   20   50   80
[3,]   30   60   90

[[2]]
[1] 10 20 30

[[3]]
[1] 70