# Title: tapply()
#### * Used in Vector and Dataframe
#### * Example: Grouped calculations, Age mean Gender wise
***

### --- Contents ---
#### i) DataFrame
##### ----->After using attach (if df$Age, you can use only Age)
##### -----> How to access
#### ii) Vector (with rownames, we can arrive solution)
##### -----> How to access
***

### i) DataFrame

In [1]:
# create a dataframe
df <- data.frame(Age = c(20,30,40,50,60),
               Smokers = c("Yes","Yes","No","No","No"),
               Gender = c("Male","Male","Male","Female","Female"))
df

  Age Smokers Gender
1 20  Yes     Male
2 30  Yes     Male
3 40  No      Male
4 50  No      Female
5 60  No      Female

In [2]:
# to see the dataframe and its types
str(df)

'data.frame':	5 obs. of  3 variables:
 $ Age    : num  20 30 40 50 60
 $ Smokers: Factor w/ 2 levels "No","Yes": 2 2 1 1 1
 $ Gender : Factor w/ 2 levels "Female","Male": 2 2 2 1 1

In [3]:
# using tapply
# for Age by Smokers
tapply(X = df$Age,INDEX = df$Smokers,FUN = mean)

 No Yes
 50  25

#### After using attach (if df$Age, you can use only Age)

In [4]:
# after using attach
attach(df)

In [5]:
# using tapply
# for Age by Smokers
tapply(X=Age, INDEX = Smokers, FUN = mean)

 No Yes
 50  25

#### How to access

In [6]:
# assignes to ans
ans <- tapply(X=Age, INDEX = Smokers, FUN = mean)

# print the typeof ans
print(class(ans))
# accessing each value
print(ans["No"][[1]])
print(ans["Yes"][[1]])

[1] "array"
[1] 50
[1] 25

### ii) Vector (with rownames, we can arrive solution)

In [7]:
# Use in vector
df <- cbind(Age = c(20,30,40,50,60))

df

     Age
[1,] 20
[2,] 30
[3,] 40
[4,] 50
[5,] 60

In [8]:
# set dimnames, 
# so that we can calculte aggregate
dimnames(df)[[1]] <-c("Yes","Yes","No","No","No")
df

    Age
Yes 20
Yes 30
No  40
No  50
No  60

In [9]:
# just to see rownames
rownames(df)

[1] "Yes" "Yes" "No"  "No"  "No"

In [10]:
# apply with index 
tapply(X = Age, INDEX = rownames(df),FUN = mean)

 No Yes
 50  25

#### How to access

In [11]:
# assignes to ans
ans <- tapply(X=Age, INDEX = rownames(df), FUN = mean)

# print the typeof ans
print(class(ans))
# accessing each value
print(ans["No"][[1]])
print(ans["Yes"][[1]])

[1] "array"
[1] 50
[1] 25